@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #f5f7cf;
  --foreground: #FAF8F5;
}

body {
  background-color: var(--background);
  color: var(--foreground);
  overflow-x: hidden;
}

/* Custom Scrollbars */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: #f5f7cf;
}

::-webkit-scrollbar-thumb {
  background: #2E2A32;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #7A1C3E;
}
